:root{
         --primary: #FF6B98;
         --secondary: #6A5ACD;
         --accent: #FFD700;
         --dark :#2A2A2A;
         --light:#FFFFFF;
}

* {
         margin:0;
         padding:0;
         box-sizing: border-box;
         font-family: 'Poppins', sans-serif;
}
body{
         background: var(--light);
         color: 0 auto;
         padding:0 40px;
}
header{
         position:flex;
         width:100%;
         padding:1.5rem 0;
         background: rgba(255,255,255, 0.95);
         backdrop-filter:blur(15px);
         z-index:1000;
         box-shadow: 0 5pz 30pz rgba(0,0,0,0.05)
}
.navbar{
         display:flex;
         justify-content:space-between;
         align-items:center;
}
.logo{
         fint-size:2rem;
         font-weight:700;
         background: linear-gradient(45deg, var(--primary), var(--secondary));
         -webkit-background-clip:text;
         -webkit-text-fill-color:transparent;
}
.nav-links{
         display:flex;
         gap:2rem;
         list-style:none;
}
.nav-liks a{
         color:var(--dark);
         text-decoration: none;
         font-weight:500;
         position: relative;
         transition:all 0.3s ease;
}

         
